section {
  padding: 1.2rem 0;
}
.wrapper-sol {
  max-width: 1920px;
  margin: 0 auto;
}
.ra-container {
  background-color: red;
  margin: 0 auto;
  max-width: 1920px;
}

.ra-container-fluid {
  margin: 0 auto;
}

.ra-container-nav {
  margin: 0 auto;
  ma
}

.ra-container-fluid.row .col {
  padding-right: 0;
  padding-left: 0;
}

.ra-fx {
  display: flex;
  flex-wrap: wrap;
}

.ra-sol-title {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ra-fx-center {
  display: flex;
  justify-content: center;
}

.w100 {
  width: 100%;
}

.px {
  padding-left: 10% !important;
  padding-right: 10% !important;
}
.mx {
  margin-left: 10% !important;
  margin-right: 10% !important;
}
.px-producto {
  padding-left: 2% !important;
  padding-right: 1% !important;
}
nav .sidenav-trigger {
  position: absolute !important;
}

.wp-block-coblocks-column {
  margin-bottom: 0px !important;
}

@font-face {
  font-family: Didot;
  src: url("../Didot LT Std Bold.otf");
}
.font-sol-leon {
  font-size: 10.41vw;
  font-family: Didot;
  width: 40vw;
}
.font-sol-frase {
  font-size: 2vw;
  font-family: "Montserrat";
  text-transform: uppercase;
  transform: scale(1);
  width: 40vw;
  height: 35vw;
}

.comilla {
  font-weight: 700;
  font-size: 4vw;
}

.frase-italic {
  font-weight: 700;
  font-style: italic;
  font-size: 2.5vw;
  text-align: center;
}

.font-title {
  font-size: 3.2vw;
  font-family: "Montserrat";
  font-weight: 600;
  padding-top: 4%;
  padding-bottom: 4%;
}

.font-title-producto {
  font-family: "Montserrat";
  font-weight: 600;
}

.font-body,
.font-body-producto {
  font-size: 1.3vw;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: justify;
  line-height: 1.82vw;
}
.font-body-producto {
  font-size: 1.1458vw;
  line-height: 1.71vw;
  text-align: left;
}

#menu {
  background-color: black;
  height: 4vw;
}

#menu li a {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2vw;
}

.height-nav {
  height: 4vw;
}

.div-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-left {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}

.div-logo {
  width: 20vw;
  height: 4vw;
  position: absolute !important;
}

.div-btn-menu {
  width: 7vw;
  height: 8vw !important;
}
.btn-menu {
  font-size: 5vw !important;
}

.width-img {
  width: 3vw;
  height: auto;
}

.frame-video {
  width: 100%;
  height: 45vw;
}

#productos {
  margin-bottom: 5rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.icon-remove {
  position: absolute;
  left: 1vw;
  top: 1vw;
  transition: all 0.3s;
}

.icon-remove-90deg {
  transform: rotate(90deg);
}

.up-btn {
  font-size: 53px !important;
}

.btn-more {
  width: 10vw;
  height: 10vw;
  background-color: #252525;
  border-radius: 10vw;
  cursor: pointer;
  position: absolute;
  left: 45vw;
  /* bottom: -29vw !important;  */
  bottom: 0 !important;
}

.btn-more i {
  font-size: 8vw;
  color: white;
}

.swiper-products {
  width: 100%;
  height: 100%;
}

.swiper-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}
.swiper-card .font-title-producto {
  min-height: 10vw;
  font-size: 5vw;
  text-align: center;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 15px;
}
.swiper-pagination span {
  background: black;
}

/* .swiper-products .swiper-pagination-bullet {
  width: 1.5vw !important;
  height: 1.5vw !important;
  border-radius: 3vw !important;
  margin: 0 1vw 0 1vw;
} */
/* .swiper-container {
  width: 100%;
  height: fit-content;
  padding-bottom: 4vw !important;
}

.swiper-container-med,
.swiper-container-small {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.swiper-pagination-med,
.swiper-pagination-small {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}


*/

.div-firma {
  width: 20vw;
  padding-top: 4vw;
  padding-bottom: 5vw;
}
.firma {
  fill: none;
  stroke: #282826;
  stroke-miterlimit: 10;
  stroke-width: 14px;
  -webkit-text-stroke-color: #282826;
  -webkit-text-stroke-width: 14px;
  -webkit-text-fill-color: none;
}

.labio {
  fill: #282826;
}

.sol-info-more {
  height: fit-content !important;
  overflow: inherit !important;
  transition: all 0.3s;
}

.info-gradient {
  display: none;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 40vw;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.info-gradient-more {
  display: none;
  background: rgb(255, 255, 255) !important;
  width: 100%;
  height: 0vw;
  position: absolute;
  left: 0;
  bottom: -8vw;
}

.menu-movil {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.container-sol {
  width: 100vw;
  max-width: 1920px;
  margin: auto;
}

/**
* *************************************
*
*
*
*
*                 1920
*
*
*
*
* *************************************
*/
@media (min-width: 1920px) {
  .font-sol-leon {
    font-size: 200px;
  }

  .font-sol-frase {
    font-size: 38.4px;
    line-height: 57.6px;
  }
  .frase-italic {
    font-size: 48px;
  }
  .comilla {
    font-size: 76.8px;
  }

  .frame-video {
    width: 100%;
    height: 864px;
  }

  .swiper-pagination-bullet {
    width: 28.8px !important;
    height: 28.8px !important;
    border-radius: 57.6px !important;
    margin: 0 1vw 0 1vw;
  }

  .font-title {
    font-size: 61px;
  }
  .font-title-producto {
    font-size: 40px;
  }
  .font-body {
    font-size: 25px;
    line-height: 35px;
  }
  .font-body-producto {
    font-size: 22px;
    line-height: 33px;
    text-align: left;
  }

  #menu,
  .height-nav {
    height: 76.8px;
  }
  #menu li a {
    font-size: 23px;
  }

  .div-logo {
    width: 384px;
    height: 76.8px;
    position: absolute !important;
  }

  .width-img {
    width: 57.6px;
  }
}
/**
* *************************************
*
*
*
*
*                 992
*
*
*
*
* *************************************
*/

@media (max-width: 992px) {
  .container-sol {
    margin-top: 8vw;
  }
  .sidenav {
    top: 8vw !important;
  }
  #menu,
  .height-nav {
    height: 8vw !important;
  }
  #menu li a {
    font-size: 23px !important;
  }
  .width-img {
    width: 7vw !important;
  }

  .div-logo {
    width: 100% !important;
    height: 8vw !important;
    position: inherit !important;
  }
  .font-title {
    font-size: 4.5vw !important;
    text-align: center;
  }
  .font-body,
  .font-body-producto {
    font-size: 2.2vw !important;
    font-weight: 500 !important;
    line-height: 3.5vw !important;
    margin-bottom: 4vw;
  }

  .sol-info {
    height: 70vw;
    overflow: hidden;
    margin-bottom: 15vw !important;
    position: relative;
    transition: all 0.3s;
  }

  .info-gradient-more {
    display: block;
  }
  .info-gradient {
    display: block;
  }

  .btn-more {
    width: 8vw;
    height: 8vw;
    border-radius: 8vw;
    left: 47.5vw;
    /* bottom: -29vw !important;  */
  }

  .btn-more i {
    font-size: 6vw;
  }

  .swiper-pagination-bullet {
    width: 3.5vw !important;
    height: 3.5vw !important;
    border-radius: 5vw !important;
  }

  .div-firma {
    width: 40vw;
    padding-top: 10vw;
    padding-bottom: 20vw;
  }
}
/**
* *************************************
*
*
*
*
*                 600
*
*
*
*
* *************************************
*/

@media (max-width: 600px) {
  .container-sol {
    margin-top: 15vw;
  }
  .sidenav {
    top: 15vw !important;
  }
  #menu,
  .height-nav {
    height: 15vw !important;
  }
  #menu li a {
    font-size: 23px !important;
  }
  .width-img {
    width: 12vw !important;
    margin-top: 3vw;
  }

  .div-logo {
    width: 100% !important;
    height: 12vw !important;
    position: inherit !important;
  }
  .div-btn-menu {
    width: 13vw;
    height: 15vw !important;
  }
  .btn-menu {
    font-size: 8vw !important;
  }

  .font-title {
    font-size: 6.2vw !important;
    text-align: center;
  }

  .font-body {
    font-size: 4.3vw !important;
    font-weight: 500 !important;
    line-height: 6.3vw !important;
  }

  .font-body-producto {
    font-size: 4.6vw !important;
    line-height: 6.5vw !important;
    margin-bottom: 8vw;
  }

  .swiper-pagination-bullet {
    width: 5.5vw !important;
    height: 5.5vw !important;
    border-radius: 5.5vw !important;
  }

  .btn-more {
    width: 10vw;
    height: 10vw;
    border-radius: 10vw;
    left: 45vw;
    /* bottom: -29vw !important;  */
  }

  .btn-more i {
    font-size: 8vw;
  }
}

/**
* *************************************
*
*
*
*
*      Ra  First Mobile
*
*
*
*
* *************************************
*/

@media (min-width: 480px) {
  .swiper-card .font-title-producto {
    min-height: 13vw;
  }
}
@media (min-width: 600px) {
  .swiper-card .font-title-producto {
    font-size: 4vw;
    font-weight: 500;
    min-height: 8vh;
  }
  .ra-container {
    width: 80vw;
  }
}
@media (min-width: 768px) {
  .swiper-card .font-title-producto {
    font-size: 2vw;
    min-height: 6vh;
  }
  .swiper-products {
    padding-bottom: calc(4vw + 10px);
  }
}

@media (min-width: 993px) {
  .swiper-products {
    padding-bottom: calc(1vw + 10px);
  }
  .swiper-card .font-title-producto {
    min-height: 6vw;
  }
}
